body
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #E5ECF3;
}
p
{
    margin: 0;
}
h1
{
    margin:0;
    font-size: 30px;
}
h3
{
    margin:0;
    
}
header{
    background-color: #1E3548;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    border-bottom: 3px solid #FFD500;
    align-items: center;
}
header nav 
{
    height: 100%;

}
header ul 
{
    display: flex;
    list-style: none;

}
header ul li
{
    padding-top: 6px;
    margin-right: 45px;

}
header ul li a 
 {
    color: white;
    text-decoration: none;
 }
header ul .descargar_app
{
    font-size: 20px;
    font-weight: 600;
    background: #FFD500;
    border: solid 2px white;
    padding: 5px;
    border-radius: 50px;
}
header ul .descargar_app a
{
    font-size: 17px;
    color: black;
}
.container
{
    padding-inline: 50px;
}
.body_container 
{
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    
}
body .submenu
{
 display: none;
 width: 260px;
 background: #3E6485;
 position: absolute;
 right: 244px;
 z-index: 500;
 
}
body .show
{
    display: block;   
}
body .submenu ul
{
    margin: 0;
    margin-bottom: 5px;
    list-style: none;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
body .submenu ul li
{
    margin-bottom: 3px;
    border-bottom: solid 1px #6e94b3;
}
body .submenu ul li a{
    margin: 8px;
    display: flex;
    text-decoration: none;
    color: white;
    
}

/* CONTENEDOR TARGETAS */
.container_cards_sidebar
{
    display: flex;
}

/* TARGETAS */
.container .cards
{
    width: 235px;
    background: white;
    border-radius: 15px;
    padding-bottom: 1px;
    margin-inline: 15px;
    height: 355px;
    border: solid 1px gray;
    margin-bottom: 25px;
    
}
.container .cards_case
{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}
.cards .card_tittle
{
    background: #0069BF;
    height: 40px;
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 10px;
    display: flex;
}
.cards .card_tittle h3
{
    margin: auto;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}
.cards .loteri_img
{
    height: 50px;
    margin: auto;
    display: flex;
    padding: 10px 40px;
    overflow: hidden;
}
.cards .loteri_img img
{
    margin: auto;
    width: 85%;

}
.card_results .tittle_results h4
{
    font-size: 14px;
    font-weight: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
}
.card_results .tittle_results .cards_dates
{
    text-align: center;
    color: gray;
    font-size: 12px;
    margin: 5px;
}
.card_results .bowling_results
{
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.card_results .bowling_results span
{
    width: 20px;
    border: solid 1px gray;
    border-radius: 50px;
    padding: 5px;
    margin: 3px;
    text-align: center;
}
.card_results .bowling_results .bowling_case
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: auto;
    border-bottom: solid 1px gray;
    padding-bottom: 5px;
}
.cards .more_information
{
    text-align: center;
    padding: 3px;
    margin-bottom: 25px;
   
}
.cards .more_information h4
{
    background: #0069BF;
    width: 145px;
    margin: auto;
    border-radius: 50px;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    
}
.cards .more_information h4 a
{
    text-decoration: none;
    color: white;
}

/* SIDEBAR */
.sidebar
{
    width: 30%;
}
.sidebar .results_table_name
{
    background: #3E6485;
    border-radius: 15px 15px 0 0;
    width: 270px;
    height: 36px;
    color: white;
    text-align: center;
    padding: 5px;  
    display: flex;
    border-bottom: 3px solid #FFD500;
}
.sidebar .results_table_name h3
{
    font-weight: 400;
    font-size: 16px;
    margin: auto;
}
.sidebar .results_table
{
    background: white;
    width: 270px;
    height: 75vh;
    padding: 0 5px;
}
.sidebar .results_table .qunielas_results
{
    height: 35px;
    display: flex;
    border-bottom: 1px solid #3E6485;
    padding: 5px;
    margin-top: 1px;
}
.sidebar .results_table .qunielas_results .quiniela_name
{
    width: 50%;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
}
.qunielas_results .quiniela_name p
{
    margin: auto 5px;
    font-weight: 600;
    color: #1E3548;
}
.qunielas_results .quiniela_bowling
{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 5px;
}
.qunielas_results .quiniela_bowling span
{
    width: 20px;
    /* border: solid 1px gray; */
    border-radius: 50px;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background: #909090;
    color: white;
}

.qunielas_results .quiniela_bowling .active_bowling
{
    background: #0C8337;
}